<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="MyGet" value="https://www.myget.org/F/bpa-enterprise/api/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <MyGet>
      <add key="Username" value="bpaEnterpriseManager" />
      <add key="ClearTextPassword" value="myG3tMgr_1!" />
    </MyGet>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>